.room-card {
    background: rgba(255, 0, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 4px solid #ff00ff;
  }
  .contractor-list{
    overflow: auto;
    height: 40%;
  }
  
  .positions {
    background: #ff00ff;
    padding: 3px 6px;
    border-radius: 5px;
  }
  