.event-header {
    display: flex;
    /* justify-content:; */
    flex-direction: column;
    align-items: start;
  }
  
  .btn {
    background: transparent;
    color: white;
    padding: 10px;
    border: 1px solid #ff00ff;
  }
  
  .btn.active {
    background: #ff00ff;
  }
  